body {
    background-color: #00EAD3;
    position: relative;
  }
  .chessboard-container {
    position: absolute;
    top: 20vh;
    left: 10%;
    background-color: blueviolet;
    width: 50vh;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .chessboard-title {
    margin-top: 5vh;
    text-align: center;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  }
  
  .board {
    width: 64vh;
    height: 64vh;
    border: 4px solid #005F99;
    background-color: #FFF5B7;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
  }
  
  .row {
    display: flex;
    width: 100%;
    height: 8vh;
  }
  
  .square {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  
  .row:nth-child(odd) .square:nth-child(even),
  .row:nth-child(even) .square:nth-child(odd) {
    background-color: #FF449F;
  }
  .row:nth-child(odd) .square:nth-child(even):hover,
  .row:nth-child(even) .square:nth-child(odd):hover {
    background-color: #005F99;
  }
  .meme-container {
    position: absolute;
    top: 20vh;
    left: 70%;
    background-color: blueviolet;
    width: 50vh;
    height: 50vh;
    box-shadow: 8px 8px 8px rgba(0, 0, 0.5, 0.5);
  }
  
  .meme-img {
    height: 100%;
    width: 100%;
  }
  .meme-img:hover{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    transition: transform 0.2s ease-in-out;
  }