*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
  :root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
  }
header{
    font-size: 1.5rem;
}
  body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(1, auto);
    width: 100vw;
    height: 30vh;
    justify-content: center;
    align-items: center;
    background-color: aqua;
  }
  .container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
  }
  .btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
  }
  .joke{
    font-size: 1.2rem;
  }
  .btn:hover {
    border-color: black;
    cursor: pointer;
    transform: scale(0.95);
    transition: transform 0.2s ease-in-out;
  }
  .start-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
  }
  
  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hide {
    display: none;
  }